{% extends "base.html" %}

{% block content %}
<style type="text/css">
  @media (min-width: 768px) {
    .container {
      width:100%;
      max-width: 730px;
    }
  }
</style>
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>New project</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum velit vitae volutpat ullamcorper. Duis pharetra suscipit fringilla. Integer ac tincidunt justo.</p>
      <a href="#" class="btn btn-default btn-primary">Get started</a>
      <p class="italic smaller">..or <a href="#">learn more</a>.</p>
    </div>
  </div>
</div>
{% endblock %}